@model FrontEnd.Models.UserViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="breadcrumb-section breadcrumb-bg" style="height: 112px !important; padding: 0 !important;"></div>
<div class="container" style="margin-bottom: 30px; margin-top: 30px;">
    <h1>Sign In</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" method="post">
                @Html.HiddenFor(Model => Model.ReturnUrl)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-warning">@ViewBag.Message</div>
                }
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="input-group">
                        <input id="Password" asp-for="Password" class="form-control" type="password" />
                        <div class="input-group-append">
                            <span class="input-group-text" id="togglePassword">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberLogin" /> @Html.DisplayNameFor(model => model.RememberLogin)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
            <p>Not registered? <a href="@Url.Action("Register", "Auth")" style="color: #F28123">Click here to register</a></p>
        </div>
    </div>
</div>
<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordField = document.getElementById('Password');
        var icon = this.querySelector('i');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = "password";
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
</script>